h1{
  background-color: #818181;
  text-align: center;
  height: 100px;
  padding-top: 50px;

}
h4{
  color: #ffb338;
}

#wrap{
  background-color: lightgrey;

}
body{
  background-color: lightgrey;
  margin: 20px;
  background-image: url(../images/pingpong.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
}
.col-md-3{
  border-style: groove;
}
.col-md-9{
  border-style: double;
}
