h1{
  background-color: #818181;
  text-align: center;
  height: 100px;
  padding-top: 50px;
  text-decoration-style: wavy;

}

#wrap{
  background-color: lightgrey;

}
body{
  background-color: lightgrey;
  margin: 20px;
  background-image: url(../images/pingpong.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.col-md-3{
  border-style: groove;
  color: orange;
}
.col-md-9{
  border-style: double;
  color: #960371;
}
.btn{
  color: aqua;
  background-color: black;
}
